@media (min-width: 1200px) and (max-width: 1247px) {
  .header-menu ul li:nth-child(9) {
    display: none;
  }
}

@media (min-width: 1110px) and (max-width: 1200px) {
  .header-menu ul li:nth-child(9) {
    display: none;
  }
  .header-menu ul li:nth-child(8) {
    display: none;
  }
}

@media (min-width: 1010px) and (max-width: 1113px) {
  .header-menu ul li:nth-child(9) {
    display: none;
  }
  .header-menu ul li:nth-child(8) {
    display: none;
  }
  .header-menu ul li:nth-child(7) {
    display: none;
  }
}

@media (min-width: 910px) and (max-width: 1010px) {
  .header-menu ul li:nth-child(9) {
    display: none;
  }
  .header-menu ul li:nth-child(8) {
    display: none;
  }
  .header-menu ul li:nth-child(7) {
    display: none;
  }
  .header-menu ul li:nth-child(6) {
    display: none;
  }
}

@media (min-width: 810px) and (max-width: 990px) {
  .header-menu ul li:nth-child(9) {
    display: none;
  }
  .header-menu ul li:nth-child(8) {
    display: none;
  }
  .header-menu ul li:nth-child(7) {
    display: none;
  }
  .header-menu ul li:nth-child(6) {
    display: none;
  }
  .header-menu ul li:nth-child(5) {
    display: none;
  }
  .header-menu ul i:nth-child(6) {
    display: none;
  }
}

@media (min-width: 753px) and (max-width: 890px) {
  .header-menu ul li:nth-child(9) {
    display: none;
  }
  .header-menu ul li:nth-child(8) {
    display: none;
  }
  .header-menu ul li:nth-child(7) {
    display: none;
  }
  .header-menu ul li:nth-child(6) {
    display: none;
  }
  .header-menu ul li:nth-child(5) {
    display: none;
  }
  .header-menu ul i:nth-child(6) {
    display: none;
  }
  .header-menu ul li:nth-child(3) {
    display: none;
  }
  .header-menu ul i:nth-child(4) {
    display: none;
  }
  .download {
    width: 25%;
  }
}

@media (min-width: 320px) and (max-width: 753px) {
  .header-menu ul li:nth-child(9) {
    display: none;
  }
  .header-menu ul li:nth-child(8) {
    display: none;
  }
  .header-menu ul li:nth-child(7) {
    display: none;
  }
  .header-menu ul li:nth-child(6) {
    display: none;
  }
  .header-menu ul li:nth-child(5) {
    display: none;
  }
  .header-menu ul i:nth-child(6) {
    display: none;
  }
  .header-menu ul li:nth-child(3) {
    display: none;
  }
  .header-menu ul i:nth-child(4) {
    display: none;
  }
  .header-menu ul li:nth-child(1) {
    display: none;
  }
  .header-menu ul i:nth-child(2) {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 650px) {
  .header-btn i {
    display: none;
  }
  .header-btn input {
    display: none;
  }
  .card-section {
    padding: 20px;
  }
  .card-section a {
    font-size: 15px;
    font-weight: 200;
  }
  .card h1 {
    font-size: 20px;
  }
}

@media (min-width: 310px) and (max-width: 390px) {
  .header {
    height: 90px;
  }
  .header-menu img {
    width: 110px;
    height: 100px;
    padding: 0px 10px 0px 10px;
  }
  .header-btn {
    padding: 10px;
    margin-top: 20px;
  }
}

@media (min-width: 320px) and (max-width: 770px) {
  .dashbord-section {
    min-height: 500px;
    height: auto;
  }
  .contant {
    text-align: center;
    width: 100%;
    padding: 50px 0px 0px 0px;
  }
  .work-section {
    min-height: 400px;
    height: auto;
    margin-top: 50px;
  }
  .work-contant {
    min-height: 400px;
    height: auto;
  }
  .quote-section i {
    font-size: 50px;
  }
  .quote-section p {
    font-size: 20px;
  }
  .quote-section span {
    font-size: 20px;
  }
  .quote-section {
    padding: 20px;
  }
  .card {
    width: 100%;
  }
  .collection-section {
    padding: 20px;
  }

  .collection-section h1 {
    font-size: 25px;
  }
  .collection-section p {
    font-size: 15px;
  }
}

@media (min-width: 750px) and (max-width: 1080px) {
  .contant {
    width: 85%;
  }

  .card-section a {
    font-size: 15px;
  }
  .card h1 {
    font-size: 25px;
  }
}

@media (min-width: 300px) and (max-width: 1030px) {
  .licensing {
    display: none;
  }
  .dow-img-sec {
    position: relative;
  }
  .dow-img-sec img {
    position: absolute;
  }
  .google-play-img {
    top: 60px;
  }
  .company {
    width: 20%;
  }
  .community {
    width: 20%;
  }
  .social {
    width: 20%;
  }
  .download {
    width: 40%;
  }
}

@media (min-width: 1030px) and (max-width: 1230px) {
  .dow-img-sec {
    position: relative;
  }
  .dow-img-sec img {
    position: absolute;
  }
  .google-play-img {
    top: 60px;
  }
  .company {
    width: 25%;
  }
  .community {
    width: 30%;
  }
  .licensing {
    width: 45%;
  }
  .social {
    width: 30%;
  }
  .download {
    width: 70%;
  }
}

@media (min-width: 780px) and (max-width: 1029px) {
  .company {
    width: 40%;
  }
  .community {
    width: 60%;
  }
  .social {
    width: 40%;
  }
  .download {
    width: 60%;
  }
}

@media (min-width: 320px) and (max-width: 780px) {
  .footer-sec-one {
    display: flex;
    flex-direction: column;
  }
  .company {
    width: 50%;
  }
  .community {
    width: 50%;
  }
  .social {
    width: 50%;
  }
  .download {
    width: 50%;
  }
  .footer-sec-for-mobile {
    width: 100%;
  }
  .copy-right-section h1 {
    font-size: 20px;
  }
  .copy-right img {
    margin-top: 5px;
  }
}
